{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container">

        <h2>Thanks!</h2>
        <p>
            Your answer has been sent to us successfully.
        </p>
        <p>
            Please note that <strong>all answers have to be reviewed by the project team before being listed on this website.</strong> Once a member of our team has approved your answer it will appear in the list of answers for everyone to see.
        </p>
        <p>
            If you need to contact us about your answer, you can email us at <a href="mailto:clic@contacts.bham.ac.uk?subject=CLiC Calendar">clic@contacts.bham.ac.uk</a>
        </p>

    </div>

{% endblock %}