{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container">

        {% include 'calendar/snippets/back-link.html' %}

        <h2>Share Your Question</h2>
        <p>
            Share your question with us to help end lookism.
        </p>
        <p>
            Stories are anonymous and will appear on this website and may be used to promote the campaign. 
        </p>
        <p>
            We post the #everydaylookism stories as they are submitted to us. However, we only post stories which are explicitly about lookism. We do not post stories about any other form of discrimination or anything not directly related to the campaign. Some find reading and posting #everydaylookism stories painful. If you feel you need support of any kind please visit the <a href="{% url 'support' %}">support page</a>, which lists organisations and contacts who can help. Thank you for feeling able to share your stories with us.
        </p>
        <p>
            For further info visit <a href="https://www.birmingham.ac.uk/schools/ptr/departments/philosophy/research/projects/duty-to-be-beautiful/everyday-lookism.aspx">birmingham.ac.uk/everydaylookism</a>
        </p>

        <form enctype="multipart/form-data" name="form" method="POST" action="{% url 'question-create' %}">
            <!-- Security CSRF token -->
            {% csrf_token %}

            <!-- Form -->
            {{ form.as_p }}

            <!-- Submit form button -->
            <button id="question-create-submit" class="btn btn-primary" type="submit">Submit</button>

            <!-- Question char counter -->
            <div id="question-create-counter">
                <span id="question-create-counter-count"></span> / 1000
            </div>
        </form>

    </div>

{% endblock %}