{% extends "base.html" %}
{% load static %}

{% block main %}
    
    <div class="container">
    
        <div class="backlink">
            <a href="{% url 'question-list' %}#stories">
                <i class="fas fa-angle-left"></i> More stories
            </a>
        </div>

        <h2>Question {{ object.id }}</h2>

        <div class="question-detail-text">
            {{ object.question_text }}
        </div>

        <div class="question-detail-sharelink">
            <!-- Share your question link -->
            <a class="btn btn-primary" href="{% url 'question-create' %}">
                <i class="fas fa-comment-alt"></i> Share your question
            </a>
        </div>

    </div>

{% endblock %}