
/* Extra small devices (1px and up) */
@media (min-width: 1px) {
    /* Header */

    h1 {
        text-align: center;
        width: 100%;
    }

    #header-links {
        display: none;
    }

    /* Banner */

    #banner {
        background: url('../images/banner/banner-background-mobile.jpg');
        background-size: cover;
        background-position: center;
    }

    /* Calendar - Months */
    .calendar-months-month {
        width: calc(100% - 1.2em);
    }
}
