<!doctype html>

{% load static %}

<html lang="en">

    <head>
        <!-- Head content -->
        {% include 'snippets/base-head.html' %}
    </head>

    <body>
    
        <!-- Header -->
        {% include 'snippets/header.html' %}

        <!-- Main -->
        <main>
            <div id="main-content">
                {% block main %}
                {% endblock %}
            </div>
        </main>

        <!-- Footer -->
        {% include 'snippets/footer.html' %}

        <!-- JavaScript -->
        {% include 'snippets/base-js.html' %}

    </body>

</html>
