<!doctype html>

{% load static %}

<html lang="en">

    <head>
    
        <title>CLiC Calendar</title>

        <!--Meta-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="CLiC Calendar website as part of the CLiC Dickens research project">
        <meta name="keywords" content="clic, charles dickens, research, michaela mahlberg, viola wiegand, humanities, art, birmingham, university, university of birmingham, college of arts and law">
        <meta name="author" content="University of Birmingham">

        <!-- Fonts -->
        <!-- Roboto -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
            crossorigin="anonymous">

        <!-- Custom -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_small.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_medium.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_large.css' %}">

        <!--Set the favicon-->
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    </head>

    <body>
        
        <!-- jQuery (has to load at start of page, as some templates that inherit from this include jQuery in them -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <!-- Header -->
        <header>
            <div id="header-content" class="container">

                <!-- Logo -->
                <h1>
                    <a href="{% url 'question-list' %}">
                        <img src="{% static 'images/logos/clic-calendar.jpg' %}" alt="CLiC Calendar">
                    </a>
                </h1>

                <!-- Links -->
                <div id="header-links">
                    <!-- Project info link -->
                    <a target="_blank" href="https://www.birmingham.ac.uk/schools/edacs/departments/englishlanguage/research/projects/clic/index.aspx" aria-label="CLiC information on university of birmingham website">
                        <i class="fas fa-info-circle"><span class="icon-link-hidden-text">Project information</span></i>
                    </a>
                    <!-- Twitter link -->
                    <a target="_blank" href="https://twitter.com/CLiC_fiction" aria-label="twitter">
                        <i class="fab fa-twitter"><span class="icon-link-hidden-text">Twitter</span></i>
                    </a>
                    <!-- CLiC web app -->
                    <a target="_blank" href="https://clic.bham.ac.uk/" aria-label="CLiC">
                        <i class="fas fa-bars"><span class="icon-link-hidden-text">CLiC web app</span></i>
                    </a>
                    <!-- Blog link -->
                    <a target="_blank" href="https://blog.bham.ac.uk/clic-dickens/" aria-label="CLiC blog">
                        <i class="fas fa-comment-alt"><span class="icon-link-hidden-text">Blog</span></i>
                    </a>
                </div>

            </div>
        </header>

        <!-- Main -->
        <main id="main">
            <div id="main-content">
                {% block main %}
                {% endblock %}
            </div>
        </main>

        <!-- Footer -->
        <footer class="container-fluid">
            <!-- Content -->
            <div id="footer-content" class="container">

                <div id="footer-content-logos">
                    <img src="{% static 'images/logos/uob-cal.png' %}" alt="University of Birmingham">
                </div>

                <div id="footer-content-text">
                    <p>
                        CLiC Calendar is part of the <a href="https://www.birmingham.ac.uk/schools/edacs/departments/englishlanguage/research/projects/clic/index.aspx">CLiC Dickens</a> research project directed by <a href="https://www.birmingham.ac.uk/staff/profiles/elal/mahlberg-michaela.aspx">Professor Michaela Mahlberg</a>.
                    </p>
                    <p>
                        You can email us at: <a href="mailto:clic@contacts.bham.ac.uk?subject=CLiC Calendar">clic@contacts.bham.ac.uk</a>
                    </p>
                    <p>
                        This website has been developed by the <a href="http://www.birmingham.ac.uk/bear-software">Research Software Group</a> for the <a href="https://www.birmingham.ac.uk/university/colleges/artslaw/index.aspx">College of Arts and Law</a> at the <a href="http://www.birmingham.ac.uk">University of Birmingham</a>
                    </p>
                    <p>
                        <a href="https://www.birmingham.ac.uk/privacy/index.aspx" target="_blank">Privacy</a> |
                        <a href="https://www.birmingham.ac.uk/legal/index.aspx" target="_blank">Legal</a> |
                        <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx" target="_blank">Freedom of Information</a> |
                        <a href="{% url 'cookies' %}">Cookies</a> |
                        <a href="https://accessibility.bear.bham.ac.uk/statements-cal.html" target="_blank">Accessibility</a>
                    </p>
                    <p>
                        © University of Birmingham {% now "Y" %}
                    </p>
                </div>

            </div>
        </footer>

        <!-- JavaScript -->

        <!-- 3rd party JavaScript -->
        <!-- Popper.js (needed for bootstrap) -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Custom JavaScript -->
        <!-- Cookies popup message -->
        <script src="{% static 'js/cookiesmsg.js' %}"></script>


    </body>

</html>
